@model APIProject2.Models.MovieModel

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <label for="Title" class="form-control">Search by title</label>
    @Html.TextBox("Title", null, new { @class = "form-control" })
    <input type="submit" class="form-control" />
}

@foreach (var movie in Model.Movies)
{
    @movie.Title
    @movie.Genre
    @movie.Metascore
    @movie.Year
}